<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weichaishi.dao.LabacTasksMapper">

    <sql id="taskColumn" >
        TASK_ID,
           TASK_PROJECT_ID,
           TASK_LOCATION_FLAG,
           TASK_CITY_ID,
           TASK_BEGIN_TIME,
           TASK_END_TIME,
           TASK_REWARD_VALUE,
           TASK_QUANTITY,
           TASK_QUANTITY_USED,
           TASK_CREATE_TIME,
           TASK_UPDATE_TIME,
           TASK_PHOTO_NUMBER,
           TASK_QUESTION_NUMBER,
           TASK_ACTION_NUMBER,
           TASK_SUBJECT,
           TASK_REWARD_POINT,
           TASK_DETAIL,
           TASK_FLAG,
           TASK_GIFT_FLAG,
           TASK_TITLE,
           TASK_APPROVAL_FLAG,
           TASK_APPROVAL_QUESTION,
           TASK_MULTIPLE_ASSIGNMENT_ALLOW,
           TASK_DETAIL_ID,
           TASK_REF_ID,
           TASK_CATEGORY_ID,
           TASK_SUBMIT_DURATION,
           TASK_PROVINCE_ID,
           TASK_DIFFICULTY_LEVEL,
           TASK_REWARD_TYPE,
           TASK_RESPONSE_KEY_STEP,
           TASK_PREREQ_TASK_ID,
           TASK_POST_TASK_ID,
           TASK_REWARD_PAYABLE_FLAG,
           TASK_REWARD_UNIT_VALUE,
           TASK_RULE_FLAG,
           TASK_MAX_MULTIPLE_ASSIGN_ALLOW,
           TASK_REVIEW_DURATION,
           TASK_REVIEW_FLAG,
           TASK_SUPPORT_DEVICE_TYPE,
           TASK_DEFINITION,
           TASK_AUTO_APPROVE_FLAG,
           TASK_MULTIPLE_SUBMISSION_ALLOW,
           TASK_EXCEPTION_DETAIL_ID,
           TASK_EXCEPTION_MESSAGE,
           TASK_REFER_DETAIL,
           SALE_ID,
           TASK_PREVIEW_FLAG,
           TASK_LOC_NAME,
           TASK_LOC_ADDRESS,
           TASK_LOC_GEO,
           TASK_LOC_SOURCE,
           TASK_LOC_PHONE,
           TASK_LOC_REF_ID,
           TASK_DATASOURCE,
           TASK_DISPLAY_FLAG,
           TASK_REFERRABLE_FLAG,
           TASK_REFERRABLE_REWARD_VALUE,
           TASK_REFERRABLE_REWARD_POINT,
           TASK_REFERRABLE_MESSAGE,
           TASK_ORDER,
           TASK_RECOMMENDEE_REWARD_VALUE,
           TASK_TYPE,
           TASK_ENGINE
    </sql>


    <insert id="insertOne" parameterType="com.weichaishi.model.LabacTasks" flushCache="true" keyProperty="taskId">
        <selectKey resultType="com.weichaishi.model.LabacTasks" order="BEFORE" keyProperty="taskId">
            select WCS_P.LABAC_TASK_SEQ.nextval as taskId from dual
        </selectKey>
        INSERT  into labac_tasks (
        <include refid="taskColumn"/>
        )VALUES (
            #{taskId,jdbcType=NUMERIC},
            #{taskProjectId,jdbcType=NUMERIC},
            #{taskLocationFlag, jdbcType=NUMERIC},
        #{taskCityId, jdbcType=NUMERIC},
        #{taskBeginTime,jdbcType=DATE},
        #{taskEndTime,jdbcType=DATE},
        #{taskRewardValue, jdbcType=NUMERIC},
        #{taskQuantity  ,jdbcType=NUMERIC},
        #{taskQuantityUsed ,jdbcType=NUMERIC},
        #{taskCreateTime},
        #{taskUpdateTime},
        #{taskPhotoNumber,jdbcType=NUMERIC},
        #{taskQuestionNumber,jdbcType=NUMERIC},
        #{taskActionNumber,jdbcType=NUMERIC},
        #{taskSubject,jdbcType=VARCHAR},
        #{taskRewardPoint,jdbcType=NUMERIC},
        #{taskDetail,jdbcType=VARCHAR},
        #{taskFlag,jdbcType=NUMERIC},
        #{taskGiftFlag,jdbcType=NUMERIC},
        #{taskTitle,jdbcType=VARCHAR},
        #{taskApprovalFlag,jdbcType=NUMERIC},
        #{taskApprovalQuestion,jdbcType=VARCHAR},
        #{taskMultipleAssignmentAllow,jdbcType=NUMERIC},
        #{taskDetailId,jdbcType=NUMERIC},
        #{taskRefId,jdbcType=VARCHAR},
        #{taskCategoryId,jdbcType=NUMERIC},
        #{taskSubmitDuration,jdbcType=NUMERIC},
        #{taskProvinceId,jdbcType=NUMERIC},
        #{taskDifficultyLevel,jdbcType=NUMERIC},
        #{taskRewardType,jdbcType=NUMERIC},
        #{taskResponseKeyStep,jdbcType=NUMERIC},
        #{taskPrereqTaskId,jdbcType=NUMERIC},
        #{taskPostTaskId,jdbcType=NUMERIC},
        #{taskRewardPayableFlag,jdbcType=NUMERIC},
        #{taskRewardUnitValue,jdbcType=NUMERIC},
        #{taskRuleFlag,jdbcType=NUMERIC},
        #{taskMaxMultipleAssignAllow,jdbcType=NUMERIC},
        #{taskReviewDuration,jdbcType=NUMERIC},
        #{taskReviewFlag,jdbcType=NUMERIC},
        #{taskSupportDeviceType,jdbcType=NUMERIC},
        #{taskDefinition,jdbcType=VARCHAR},
        #{taskAutoApproveFlag,jdbcType=NUMERIC},
        #{taskMultipleSubmissionAllow,jdbcType=NUMERIC},
        #{taskExceptionDetailId,jdbcType=NUMERIC},
        #{taskExceptionMessage,jdbcType=VARCHAR},
        #{taskReferDetail,jdbcType=VARCHAR},
        #{saleId,jdbcType=NUMERIC},
        #{taskPreviewFlag,jdbcType=NUMERIC},
        #{taskLocName,jdbcType=VARCHAR},
        #{taskLocAddress,jdbcType=VARCHAR},
        CASE WHEN #{taskLocGeo,jdbcType=VARCHAR} IS NULL THEN NULL ELSE MDSYS.SDO_GEOMETRY(2001,8307,MDSYS.SDO_POINT_TYPE(#{taskSdoPointX,jdbcType=FLOAT},#{taskSdoPointY,jdbcType=FLOAT},NULL),NULL,NULL) END,
        #{taskLocSource,jdbcType=VARCHAR},
        #{taskLocPhone,jdbcType=VARCHAR},
        #{taskLocRefId,jdbcType=VARCHAR},
        #{taskDatasource,jdbcType=VARCHAR},
        #{taskDisplayFlag,jdbcType=NUMERIC},
        #{taskReferrableFlag,jdbcType=NUMERIC},
        #{taskReferrableRewardValue,jdbcType=NUMERIC},
        #{taskReferrableRewardPoint,jdbcType=NUMERIC},
        #{taskReferrableMessage,jdbcType=VARCHAR},
        #{taskOrder,jdbcType=NUMERIC},
        #{taskRecommendeeRewardValue,jdbcType=NUMERIC},
        #{taskType,jdbcType=NUMERIC},
        #{taskEngine,jdbcType=VARCHAR}
        )
    </insert>
   <!-- #{taskLocGeo},-->
</mapper>